<div class="blue-grey darken-2">
    <div class="container white-text">
        <div class="left">
            <a href="/" class="brand-logo">
                <img src="../images/logo.png">
            </a>
            <p>Made by Youngmi Lee, Materialize CSS</p>
        </div>
        <div class="right">
            <p>
                <a href="/">Home</a>
            </p>
            <p>
                <a href="/projects">Projects</a>
            </p>
            <p>
                <a href="/contact">Contact</a>
            </p>
        </div>
    </div>

</div>