{{>navbar}}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 20 offset-m2 offset-l0">
                <div class="row">
                    <div class="card-panel grey lighten-5 overflow-auto">
                        <h2 class="center-align">Contact</h2>
                        <form>
                            <div class="row">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="name" type="text" class="validate">
                                        <label for="userName">Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="title" type="text" class="validate">
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea name="content" cols="200" rows="150" class="validate"></textarea>
                                    </div>
                                </div>
                                <div class="center-align">
                                    <button class="btn orange darken-3 waves-effect waves-orange" type="submit" id="register-button">
                                        <i class="material-icons right">email</i>Contact</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}